Time Tracker
===

# set months = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}
# set week_days = {0: 'Mon', 1: 'Tue', 2: 'Wed', 3: 'Thu', 4: 'Fri', 5: 'Sat', 6: 'Sun'}

# for (name, individual_records) in group_by_name(records)
{{name}} ({{ '%.02d:%.02d' % sum_time(individual_records) }})
===
  # for (year, year_records) in group_by_year(individual_records)
    # for (month, month_records) in group_by_month(year_records)
    
{{months[month]}} {{year}} ({{ '%.02d:%.02d' % sum_time(month_records) }})
---

      {%- for record in month_records %}
{{ '+ **`%s %.4i-%.2i-%.2i %.2i:%.2i-%.2i:%.2i` &rarr;** `%.2i:%.2i` %s' % (week_days[record.start.weekday()], record.start.year, record.start.month, record.start.day, record.start.hour, record.start.minute, record.end.hour, record.end.minute, record.duration()[0], record.duration()[1], record.description) }}
      {%- endfor %}

    # endfor
  # endfor
# endfor