# set months = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}
# set week_days = {0: 'Mon', 1: 'Tue', 2: 'Wed', 3: 'Thu', 4: 'Fri', 5: 'Sat', 6: 'Sun'}

\documentclass{scrartcl}

\usepackage{xcolor}
\RequirePackage[scaled]{helvet}
\renewcommand\familydefault{\sfdefault}

\usepackage{longtable}
\begin{document}
    # for (name, individual_records) in group_by_name(records)
        \section*{ {{ names[name] }} {\color{gray} {{ '%.02d:%.02d' % sum_time(individual_records) }} } }
        # for (year, year_records) in group_by_year(individual_records)
            # for (month, month_records) in group_by_month(year_records)
                \subsection*{ {{months[month]}} {{year}} {\color{gray} {{ '%.02d:%.02d' % sum_time(month_records) }} } }
                \begin{longtable}{|p{0.03\textwidth} p{0.02\textwidth} p{0.2\textwidth} p{0.7\textwidth}}
                # for record in month_records
                {{ week_days[record.start.weekday()] }} & {{ record.start.day }} & {{ '%.02d:%.02d-%.02d:%.02d' % (record.start.hour, record.start.minute, record.end.hour, record.end.minute)}} & {{ record.description }} \\
                # endfor
                \end{longtable}
                
            # endfor
        # endfor
    # endfor
\end{document}

